$color-primary:   #0481FF;
$color-secondary: #515151;
$color-tertiary:  #FF7500;

$transparency: .1;
$gutter: 20px;
$transition-speed: .3s;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow: hidden;
}

body.playbook {
  background-color: #FFF;
}

section#zazu {
  background: #FFF;
  // background-image: inline-image('../images/feather.png');
  background-position: 530px 5px;
  background-repeat: no-repeat;
  background-size: 60px;
  -webkit-app-region: drag;
  cursor: move;
  border: 4px solid rgba(0,0,0,0.17);
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 0;

  input {
    outline: none;
    font-size: 40px;
    width: 500px;
    padding: 15px 20px;
    border: 0;
    -webkit-app-region: no-drag;
    cursor: auto;
    width: 560px;
  }

  iframe#preview {
    border: 0;
  }

  div.results {
    display: flex;
    flex-direction: row;
    background: #f9f9f9;
    position: relative;

    &:before {
      content: '';
      position: absolute;
    }

    ul {
      padding: 0;
      margin: 0;
      max-height: 310px;
      overflow-y: scroll;
      width: 50%;

      &:last-child {
        width: 100%;
      }

      + div {
        width: 50%;
        background: #313131;
      }

      li {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        -webkit-app-region: no-drag;
        cursor: pointer;
        width: 100%;
        padding: 15px 10px;
        transition: all $transition-speed ease;
        @extend %clearfix;

        .icon {
          text-align: center;
          line-height: 30px;
          height: 45px;
          width: 45px;
          padding: 5px;
          float: left;
        }

        h2, h3 {
          margin: 0;
          padding-left: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h2 {
          font-size: 20px;
          line-height: 25px;
          font-weight: bold;
          color: #212121;
          &:last-child {
            font-size: 20px;
            line-height: 45px;
          }
        }

        h3 {
          font-weight: normal;
          font-size: 15px;
          color: #6A6A6A;
        }

        &:hover, &:active {
          background: #FFF;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          box-shadow: 0 0 7px rgba(0, 0, 0, .1);
        }

        &:focus {
          outline: 0;
        }

        &:first-child {
          border-top: 1px solid rgba(0, 0, 0, .1);
        }
      }
    }
  }
}
