$color-primary:   #0481FF;
$color-secondary: #515151;
$color-tertiary:  #FF7500;

$transparency: .1;
$gutter: 20px;
$transition-speed: .3s;
$radius: 3px;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  overflow: hidden;
  height: 100%;
}

body.playbook {
  background-color: #FFF;
  background: url(https://unsplash.it/1000/1000/?blur) no-repeat center center;
  background-size: cover;
}

section#zazu {
  background-position: 530px 5px;
  background-repeat: no-repeat;
  background-size: 60px;
  -webkit-app-region: drag;
  cursor: move;
  border: 4px solid rgba(0,0,0,0.17);
  border-radius: $radius;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 0;

  > div {
    background: #FFF;
    border-radius: $radius;
  }

  input {
    outline: none;
    font-size: 40px;
    width: 500px;
    padding: 15px 20px;
    border: 0;
    -webkit-app-region: no-drag;
    cursor: auto;
    width: 100%;
    background-image: inline-image('../images/search.png');
    background-size: 25px 25px;
    background-position: center right;
    background-repeat: no-repeat;
    background-position-x: 540px;
  }

  iframe#preview {
    border: 0;
    background: #E1E1E1;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, .1);
  }

  div.results {
    display: flex;
    flex-direction: row;
    background: #f9f9f9;
    border-radius: 0 0 $radius $radius;

    ul {
      padding: 0;
      margin: 0;
      max-height: 310px;
      overflow-y: hidden;
      width: 50%;

      &:last-child {
        width: 100%;
      }

      + div {
        width: 50%;
      }

      li {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        -webkit-app-region: no-drag;
        cursor: pointer;
        width: 100%;
        padding: 15px 10px;
        transition: all $transition-speed ease;
        @extend %clearfix;

        .icon {
          text-align: center;
          line-height: 30px;
          height: 45px;
          width: 45px;
          padding: 5px;
          float: left;
        }

        h2, h3 {
          margin: 0;
          padding-left: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h2 {
          font-size: 20px;
          line-height: 25px;
          font-weight: bold;
          color: #212121;
          &:last-child {
            font-size: 20px;
            line-height: 45px;
          }
        }

        h3 {
          font-weight: normal;
          font-size: 15px;
          color: #6A6A6A;
        }

        &:hover, &.active {
          background: #FFF;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          box-shadow: 0 0 7px rgba(0, 0, 0, .1), inset 0 -2px 0 $color-primary;
        }

        &:focus {
          outline: 0;
        }

        &:first-child {
          border-top: 1px solid rgba(0, 0, 0, .1);
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
